<%- include('../partials/header'); %>

    <main class="main container">
        <h1>Don't talk to me. I haven't had my coffee yet</h1>
        <img src="/media/tired-coffee-dragging-through-the-day-exhausted-932x636.jpg">
    </main>

<%- include('../partials/footer'); %>